.app__modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 500px;
    height: 500px;
    background: var(--color-black);
    border: 1px solid var(--color-golden);
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
}

.app__modal-title {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.app__modal-title p {
    color: var(--color-golden);
}

.app__modal-name,
.app__modal-email,
.app__modal-phone,
.app__modal-date,
.app__modal-time {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.app__modal-name label, 
.app__modal-email label, 
.app__modal-phone label,
.app__modal-date label,
.app__modal-time label {
    font-size: 16px;
}

.app__modal-name input, 
.app__modal-email input, 
.app__modal-phone input,
.app__modal-date input,
.app__modal-time input {
    width: 300px;
    padding: 0.25rem;
    border: none;
    border-radius: 1px;
}

.app__modal-confirm {
    margin-top: 1rem;
}

@media screen and (max-width: 510px) {
    .app__modal-overlay {
        width: 350px;
    }
}
 @media screen and (max-width: 360px) {
    .app__modal-overlay {
        width: 250px;
    }

    .app__modal-name input, 
    .app__modal-email input, 
    .app__modal-phone input,
    .app__modal-date input,
    .app__modal-time input {
        width: 200px;
    }
 }

